# Ignore macOS system files
.DS_Store

# Ignore R data files and history
.RData
.Rhistory

# Ignore bash history and sessions
.bash_history
.bash_sessions/

# Ignore Python cache and history
__pycache__/
*.pyc
.python_history

# Ignore other system files
.CFUserTextEncoding
.Xauthority
.serverauth.*

# Ignore other configuration directories
.cache/
.config/
.local/
.ssh/
.vim/
.idlerc/

# Ignore specific swap files
*.swp

# Ignore specific directories
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

